html{
    background-color: gray;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.boxes{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.boxes .box1{
    position: relative;
    background-color: rgb(164, 209, 158);
    padding: 2rem;
}
.boxes .box2{
    position: relative;
    background-color: rgb(109, 117, 126);
    padding: 2rem;
}
h3{
    margin-left: 10px;
}
.left{
    font-size: 13px;
}
.right{
    margin-top: 100px;
    font-size: 20px;
}

.boxes img{
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 150px;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #526853;
    color: rgb(7, 6, 6);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #1c381e;
  }

  button:active {
    background-color: #3cad3f;
  }
  P{
    color: black;
  }


 